html
    head
        meta(charset="utf-8")
        title Домашняя библиботека Бориса Алексеенко
        link(rel="stylesheet", href="/public/css/w3.css")
    body()
        block content
        script(type="module" src="/public/js/main.js")